* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
  }
  #heading {
    text-align: center;
    border: 1px solid pink;
    box-shadow: 0px 1px 3px #777;
    padding: 10px;
    margin: 20px;
    font-family: cursive;
  }
  #title{
      color: rgb(191, 126, 4);
      font-size: 2rem;
      text-shadow: 1px 2px 1px rgb(252, 123, 3);
  }
  #titleDef{
      color: rgb(159, 6, 242);
      font-size: 2rem;
  }
  section {
    /* background-color: azure; */
    padding: 20px;
  }
  img {
    width: 100px;
    height: auto;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px auto;
    display: block;
  }
  p {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px auto;
  }
  .liBox{
      background-color: azure;
      padding: 10px;
      margin: 10px auto;
  }
  li {
    list-style: none;
    font-family: cursive;
    color: blueviolet;
    font-size: 1.5rem;
    line-height: 2;
    /* background-color: aliceblue; */
    padding-left: 20px;
    /* cursor: pointer; */
  }
  button{
      margin: 20px;
      padding: 10px 20px;
      width: 150px;
      background-color: lightblue;
      border: none;
      border-radius: 7px;
      color: green;
      font-size: 1.2rem;
  }
  .red {
    color: red;
    background-color: antiquewhite;
    font-weight: 700;
  }
  .blue {
    color: blue;
    background-color: antiquewhite;
    font-weight: 700;
  }
  .orange {
    color: rgb(177, 117, 5);
    background-color: antiquewhite;
    font-weight: 700;
  }
  