body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 5% auto;
    width: 90%;
  }
  
  .hidden {
    display: none;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #mainGroup,
  #subGroup {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    color: #5d5d5d;
  }
  
  #selectionResults {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  
  #selectedProperties,
  #selectedProducts {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 45%; /* Adjust width as needed */
    white-space: nowrap; /* Prevent wrapping */
    overflow: auto; /* Enable scrolling if necessary */
    margin-bottom: 20px;
  }
  
  .property,
  .product {
    display: block; /* Display properties and products as block */
    margin-bottom: 5px;
  }
  
  
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between rows as needed */
  }
  
  .row1 {
    display: flex;
    gap: 20px; /* Adjust the gap between items within row1 */
  }
  
  .row2,
  .row3 {
    display: flex;
    flex-direction: column;
  }
  
  .row2.hidden,
  .row3.hidden {
    display: none; /* Hide row2 and row3 initially if needed */
  }
  
  .select-wrapper {
    margin-bottom: 10px;
  }
  
  #itemsListWrapper {
    margin-top: 10px;
  }
  
  #itemsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #propertiesWrapper,
  #productsWrapper {
    margin-top: 20px;
  }
  
  .column-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin-top: 10px;
      gap: 20px;
      background-color: rgba(219, 218, 218, 0.58);
    }
    
    .column {
      flex: 1;
    }
  
    .subheading {
      margin-bottom: -20px;
      color: rgba(167, 72, 9, 0.658);
      padding: 7px 12px;
      background-color: rgb(136, 216, 216);
      border-radius: 7px;
      border: none;
    }
  
    #totalProperties,
    #totalProducts,
    #totalItems {
      float: right;
      color: rgba(246, 250, 2, 0.865);
      padding: 12px;
      width: 30px;
      height: 30px;
      background-color: rgb(143, 218, 218);
      border-radius: 50%;
      border: none;
      text-align: center;
    }
  
    .title {
      color: rgba(167, 72, 9, 0.658);
      margin-bottom: -10px;
      font-size: 1.7rem;
    }
  
    .itemList {
      padding: 7px 12px;
      border-radius: 7px;
      border: none;
      background-color: rgba(219, 218, 218, 0.58);
    }
    .listItems {
      color: rgba(167, 72, 9, 0.658);
      padding: 7px 12px;
      background-color: rgb(136, 216, 216);
      border-radius: 7px;
      border: none;
      text-align: center;
      font-size: 1.7rem;
    }
  
    .chooseItems {
      float: left;
      margin-top: 12px;
      font-size: 1.5rem;
      font-weight: 600;
    }
  