.title{
    text-align: center;
    font-size: 3rem;
    color: orange;
}
span {
    color: blue;
    font-size: 1.7rem;
}

.item {
    border: 1px solid blue;
    text-align: center;
    background-color: beige;
    padding: 20px;
    font-size: 1.7rem;
}
.one, .two, .three, .four, .five, .six{
    align-content: center;
}
.seven, .eight, .nine, .ten, .eleven, .twelve{
    align-content: center;
}

.container{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    /* Lesson1 */
    display: grid;
    /* grid-template-columns: 200px 200px auto; */
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */

    /* grid-template-columns: 1fr minmax(300px, 1fr); */

    /* grid-template-columns: repeat(3, 300px); */
    /* grid-template-columns: repeat(auto-fill, 300px); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

    /* grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end]; */
    /* grid-template-columns: repeat(12, 1fr); */

    /* Lesson2 */
    grid-template-rows: 100px 50px;

    /* Lesson3 */
    /* grid-auto-columns: 100px; */
    grid-auto-rows: 100px;

    /* grid-auto-flow: row;  */
    /* grid-auto-flow: column;  */
    grid-auto-flow: dense; 
    /* row-dense column-dense နှစ်ခုလုံးကို ပေါင်းထားတာ */

    /* Lesson5 */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    /* grid-gap: 10px; */
    grid-gap: 10px 20px;

    /* Lesson6 */
    /* align-items: start; */
    /* start end center */
    /* justify-items: stretch; */
    /* place-items: center stretch; */

    /* space-between, space-around, space-evenly, center, start, end */
    /* align-content: center; */
    /* justify-content: space-evenly; */
    /* place-content: center space-between; */

    /* Lesson7 */
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-auto-rows: 60px auto 100px;
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";
}

.seven {
    /* Lesson4 */
    grid-column: 10/11;
    /* ဒီမှာ grid-auto-flow: dense; လုပ်လိုက်တော့ ပိုနေတဲ့နေရာတွေကို ဖြည့်သွားတယ်၊ .seven ရဲ့နေရာကတော့ ရွေ့မသွားဘူး */
}