* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: fantasy;
    margin: 20px;
    padding: 20px;
}

#heading, #subHeading {
    color: green;
    border: 1px solid orange;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.div2 {
    margin: 10px;
    border: 1px solid blue;
    padding: 20px;
    line-height: 2;
    color: blue;
    font-size: 1.7rem;
}
.div1 {
    color: blueviolet;
    font-size: 1.7rem;
    margin: 20px auto;
}
button{
    display: block;
    padding: 10px 20px;
    width: 150px;
    color: white;
    background-color: #666;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 0;
}

#sports{
    list-style: none;
    line-height: 2;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

#content{
    border: 1px solid brown;
    padding: 10px;
    margin: 20px auto;
}
.bullets{
    border: 1px solid green;
    padding: 20px;
}
.bullets ul{
    list-style: none;
    line-height: 2;
    border: 1px solid orange;
    padding: 10px;
}

.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.orange{
    color: orange;
}

.bgColor{
    background-color: aliceblue;
    padding: 2px;
}