/* Media queries */

/* Mobile styles */
@media (max-width: 599px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .container > li {
      margin: 5px 0;
    }
  
    .nav-item a,
    .nav-item .btn {
      display: block;
      width: 100%;
      text-align: center;
    }
  
    .hero {
      flex-direction: column;
    }
  
    .hero-cta,
    .hero-form {
      width: 100%;
    }
  
    .card-container {
      /* စမ်းသပ်မူများ */
      /* width: 90%;
      max-width: 1200px;
      margin: 2rem 0; */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2rem;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  /* Tablet styles */
  @media (min-width: 600px) and (max-width: 899px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .hero {
      flex-direction: column;
      gap: 20px;
    }
  
    .hero-cta,
    .hero-form {
      width: 90%;
      margin: auto;
      padding: 15px;
    }
  
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 900px) {
    .hero {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
    }
  
    .hero-cta {
      width: 65%;
    }
  
    .hero-form {
      width: 35%;
    }
  
    .card-container {
      justify-content: space-between;
    }
  
    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
    footer {
      padding: 25px 50px;
    }
  }