.content {
  display: flex;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  max-width: 90%;
  &:nth-child(odd) {
    border-left: 1px solid #4caf50;
  }
  &:nth-child(even) {
    border-left: 1px solid orange;
  }
}

.text1 {
  padding-left: 20px;
  line-height: 1.7;

  &::first-letter {
    font-family: cursive;
    color: green;
    font-size: 2.5rem;
    font-weight: 400;
    float: left;
    line-height: 1.2;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.text2 {
  padding-left: 20px;
  line-height: 1.7;

  &::first-letter {
    font-family: cursive;
    color: orange;
    font-size: 2.5rem;
    font-weight: 400;
    float: left;
    line-height: 1.2;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.text1::first-line {
  font-family: cursive;
  color: green;
}

.text2::first-line {
  font-family: cursive;
  color: orange;
}
