/* Privacy page */
.privacy-content {
  display: flex;
  align-items: center;
  margin: 40px auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  max-width: 90%;
  &:nth-child(odd) {
    border-left: 1px solid #4caf50;
  }
  &:nth-child(even) {
    border-left: 1px solid orange;
  }
}

.privacy-text1 {
  padding-left: 20px;
  line-height: 1.7;

  &::first-letter {
    font-family: cursive;
    color: green;
    font-size: 2.5rem;
    font-weight: 400;
    float: left;
    line-height: 1.2;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.privacy-text2 {
  padding-left: 20px;
  line-height: 1.7;

  &::first-letter {
    font-family: cursive;
    color: orange;
    font-size: 2.5rem;
    font-weight: 400;
    float: left;
    line-height: 1.2;
    margin-right: 10px;
    margin-top: 3px;
  }
}

.privacy-text1::first-line {
  font-family: cursive;
  color: green;
}

.privacy-text2::first-line {
  font-family: cursive;
  color: orange;
}

/* Donate Page */
.donate-content {
  /* display: flex; */
  /* align-items: center; */
  margin: 40px auto;
  width: 80%;
}

.qr {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin: 20px auto; */
}

.donate-img {
  max-width: 300px;
  max-height: 300px;
  margin: 3% auto;
  box-shadow: 0px 3px 4px rgb(15, 119, 184);
}

.donate {
  color: rgb(198, 137, 24);
  text-align: center;
  margin-top: 2%;
  font-size: 1rem;
}
.donate-content h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 2.4rem;
  color: rgb(34, 152, 198);
}
.donate-content h3 {
  text-align: center;
  margin-top: 3%;
  font-size: 1.2rem;
  color: rgb(99, 184, 217);
}
.donate-btn {
  background-color: rgb(198, 137, 24);
  padding: 10px 20px;
  border-radius: 15px;
  width: 30%;
  margin: 3% auto;
  text-align: center;
  transition: all 150ms ease-out;
  &:hover {
    color: rgb(198, 137, 24);
    background-color: rgb(34, 152, 198);
  }
}
.donate-btn a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

