body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5% auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #777;
}

.container {
  display: inline-block;
  margin: 20px;
}
.gradient {
  width: 150px;
  height: 150px;
  /* border: 2px solid #777; */
  border-radius: 10px;
  box-shadow: 0px 1px 9px #333;
}
.linear {
  /* background: linear-gradient(200deg, rgba(238, 214, 211, 0.8), rgba(152, 215, 194, 0)); */
  background: linear-gradient(200deg, rgba(238, 214, 211, 0.8), transparent),
    linear-gradient(100deg, rgba(152, 215, 194, 1), transparent),
    linear-gradient(300deg, rgba(253, 183, 80, 1), transparent);
}
.radial {
  background: radial-gradient(
      circle at center,
      rgba(238, 214, 211, 0.9),
      transparent
    ),
    radial-gradient(circle at bottom, rgba(152, 215, 194, 0.8), transparent),
    radial-gradient(circle at top, rgba(253, 183, 80, 0.8), transparent);
}
.photo-gradient {
  background: linear-gradient(to right, rgb(227, 248, 180), transparent),
    url(./bodhi-leaf.png) no-repeat center;
  object-fit: cover;
  background-size: cover;
}

.conic-gradient {
  height: 150px;
  width: 150px;
  background-image: repeating-conic-gradient(
    rgba(128, 0, 0, 0.782) 0deg 15deg,
    gold 15deg 30deg,
    rgb(245, 242, 242) 30deg 45deg,
    rgba(255, 0, 0, 0.832) 45deg 60deg,
    rgb(255, 255, 255) 60deg 75deg,
    gray 75deg 90deg
  );
  box-shadow: 0px 2px 9px gray;
  /* border: 1px solid #833ab4; */

  border-radius: 50%;
  position: relative;
  &:before {
    content: "24";
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    background: radial-gradient(circle at center, red, transparent),
      radial-gradient(circle at bottom, gray, transparent),
      radial-gradient(circle at top, yellow, transparent);
    position: absolute;
    top: 60px;
    left: 60px;
    box-shadow: 0px 0px 1px #333;
  }
}

.border-gradient {
  width: 150px;
  height: 150px;
  /* border: 3px solid hotpink;  */
  /* #833ab4 */

  /* border-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  border-image-slice: 1; */
  /* 1-100 */
  /* nothing change in the above image case */
  border-radius: 10px;

  /* This way border-radius works */
  border: double 5px transparent;
  background-image: linear-gradient(white, white),
    /* replace with other colors with white */
      linear-gradient(90deg, #833ab4, #fd1d1d, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.divs {
  width: 150px;
  height: 150px;
  border: 1px solid;
}
.div1-gradient {
  background: linear-gradient(orange 50%, green 50%);
}
.div2-gradient {
  background: repeating-linear-gradient(
    orange 0px 37.5px,
    slategrey 37.5px 75px
  );
}
.div3-gradient {
  background: linear-gradient(
    to left,
    violet 25%,
    yellowgreen 25% 50%,
    grey 50% 75%,
    skyblue 75%
  );
}
.div4-gradient {
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 217, 0, 0.855) 50%,
    rgba(247, 5, 5, 0.745) 50%
  );
}

/* rose: rgba(238, 214, 211, 1) */
/* spearmint: rgba(152, 215, 194, 1) */
/* amber: rgba(253, 183, 80, 1) */

/* https://www.canva.com/colors/color-palette-generator/ */
/* https://www.canva.com/colors/color-palettes/ */
/* https://rgbacolorpicker.com/hex-to-rgba */

/* https://youtu.be/k-kyiUuRxkQ?si=SASgY5ZjwlFSLwG3 */
