*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
  }

  [class^="box-"] {
    background-color: skyblue;
  
  /* To place the letter at the center */
    display: grid;
    place-items: center;
  }

  .container {
    display: grid;
    gap: 20px;
  }

/*
.container {
  display: grid;
  gap: 20px;
  height: 100vh;

// Change the values  👇 to experiment 
grid-template-rows: 200px auto 100px;
}

//Blue Print
//First, create the blueprint
//Like this 👇 inside the parent .container class:
.container {
  display: grid;
  gap: 20px;
  height: 100vh;

  grid-template-areas: 
    "A A A A   A A A A   A A A A"
    "B B B B   B B B B   B B C C"
    "B B B B   B B B B   B B C C";
}

//Implement the blueprint
//Target all our child .box-* classes and set the values like this ->
.box-1{
  grid-area: A;
}
.box-2{
  grid-area: B;
}
.box-3{
  grid-area: C;
}

.container {
  display: grid;
  height: 100vh;

  grid-template-columns: 100px 100px 100px;
//Change values👇 to experiment
  column-gap:  50px;
}

.container {
  display: grid;
  gap: 20px;

  grid-template: 100px 200px/ 200px 400px;

  height: 100vh;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);

}

.container {
  display: grid;

  grid-template: 100px 200px/ 200px 400px;
  column-gap: 50px;
  height: 100vh;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  row-gap: 150px;
  gap: 40px; //for row and column grid-gap is same as gap
}

.container {
  display: grid;
  height: 100vh;
  
  grid-template: repeat(2, 200px)/ repeat(2, 200px);
  grid-gap: 20px;
  justify-items: start/end/center/stretch;
  justify-content: start/end/center/stretch;
  align-items: start/end/center/stretch;
  align-content: start/end/center/stretch;
  place-items:; same as align-items and justify-items
  place-content:; same as align-content and justify-content

}

//Justify 
<div class="container">

  <!--Other boxes - A, B, C are here-->

  <div class="box-4"> D </div>
</div>

.container {
  display: grid;
  gap: 50px;
  height: 100vh;

// each box is 200px by 200px
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;

//  Change values 👇  to experiment
  justify-items : end;
}

.container {
  display: grid;
  gap: 50px;
  height: 100vh;

// each box is 200px by 200px
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;

//  Change values 👇  to experiment
  align-items: center;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 20px;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 100px);
  grid-template: repeat(2, 100px)/repeat(2, 100px); //same as the above two 
  grid-template: repeat(12, 1fr)/repeat(12, 1fr); //same as the above two 
}
.box-1{
grid-column-start: 1;//default
grid-column-end: 2;//default
grid-column: 1/2;//shorthand of the above
grid-column: 1/13; 
grid-column: span 12; // same as the above 1/13

.box-1{
grid-row-start: 1;//default
grid-row: 2;//default
grid-row: 1/2;//shorthand of the above
grid-row: 1/13; 
grid-row: span 12; // same as the above 1/13
}
.box-2{}
.box-3{}
.box-4{}
*/