:root {
    --primary-color: #f2f2f2;
    --secondary-color: #9a2525de;
    --tertiary-color: #036f73d6;
    --primary-bg-color: #e5e5e5;
    --secondary-bg-color: #587da1;
    --tertiary-bg-color: #ccbba3;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #start-container {
    background-color: var(--tertiary-bg-color);
    font-size: 1.5rem;
    padding: 3% 10%;
    border-radius: 10px;
    text-align: center;
  }
  
  #start-container h2 {
    padding-bottom: 5%;
  }
  
  button {
    background-color: var(--secondary-bg-color);
    color: whitesmoke;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.3rem;
  }
  
  input {
    padding: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
  }
  
  .quiz-container {
    height: 100vh;
    background-color: var(--tertiary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    position: relative;
    top: 10%;
    transform: translateY(-5%);
    text-align: center;
    width: 100%;
    max-width: 90%; /* Adjust as needed */
    margin: auto;
    padding: 40px;
    /* width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3%;
    margin-top: 5%; */
  }
  
  #timer {
    font-size: 24px;
    margin-bottom: 5%;
    color: var(--secondary-color);
  }
  #question {
    font-size: 1.3rem;
    /* font-weight: bold; */
    background-color: var(--primary-bg-color);
    color: var(--tertiary-color);
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }
  
  .options {
    margin-bottom: 4%;
    text-align: left;
  }
  .option {
    margin-bottom: 15px;
  }
  
  #feedback {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgba(16, 96, 43, 0.869);
    margin-top: 5%;
  }
  #result-container {
    text-align: center;
  }
  #result-container h2 {
    font-size: 2rem;
    color: rgb(156, 5, 156);
    background-color: rgb(233, 217, 196);
    padding: 35px;
    border-radius: 10px;
  }
  #result {
    font-size: 1.3rem;
    margin-top: 10%;
    line-height: 2.5;
  }
  .pass {
    color: green;
  }
  .fail {
    color: red;
  }
  #test-again {
    margin-top: 20px;
  }
  
  #next-question {
    margin-top: 20px;
  }
  
  /* CSS for increasing radio button size */
  input[type="radio"] {
    transform: scale(1.9); /* Adjust the scale factor as needed */
    background-color: var(--primary-bg-color);
    margin-right: 10px; /* Adjust the spacing between radio buttons */
  }
  
  /* CSS for spacing between radio buttons and text */
  .options label {
    margin-left: 20px; /* Adjust the spacing between radio buttons and text */
  }
  