section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  /* box-sizing: content-box; */
}

img {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  /* Margin property */
  margin: 20px;
  /* Padding property */
  padding: 20px;
  /* Border property */
  border: 10px solid darkblue;
  box-sizing: border-box;
}
