:root {
    --primary-text-color: #9a8406;
    --secondary-text-color: rgb(229, 151, 5);
    --box-shadow-color: #777;
    --tertiary-color: darkcyan;
    --feature-color: green;
    --img-bg-color: whitesmoke;
}

body {
    margin: 5% auto;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    font-size: 14px;
}

/* Student's Bio */
.mytitle {
    display: flex; /* center */
    align-items: center; /* center */
    box-shadow: 0px 2px 4px var(--box-shadow-color);
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 2px solid var(--feature-color);
    margin: 20px;
    &:before {
        content: "";
    }
    &:after {
        content: "Student's Bio";
        color: var(--secondary-text-color);
        margin: 0 auto; /* center */
    }
}
.myicon {
    color: whitesmoke;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--feature-color);
}
/* ===== xxxxx ===== */

/* My Image */
.img-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--box-shadow-color);
    background-color: var(--box-shadow-color);
    border-radius: 20px;
    margin: 20px;
}
.myimage {
    --shape: 50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%;
    width: 100px;
    /* height: 200px; */
    clip-path: polygon(var(--shape));
    background-color: var(--img-bg-color);
    padding: 30px;
    margin: 10px;
    cursor: pointer;
    transform: scaleX(-1); /* Flips the icon horizontally */
}
/* ===== xxxxx ===== */

/* About Me */
.aboutme {
    position: relative;
    border-left: 2px solid var(--feature-color);
    padding-left: 20px;
    margin: 20px;
    color: var(--primary-text-color);
    &:before {

    }
    &:after {
        content: "Hey, I am Panna, Yangon. I love coding and coding. I am now learning HTML, CSS, and JavaScript. What I know is 'HTML' is like a structure of building, 'CSS' is like coloring and putting furniture and things like that, and 'JavaScript' is like switching on and off the lights etc. This is my first Student's Bio page built with my little knowledge. Thanks for your support!";
    }
    &::first-line {
        text-transform: uppercase;
        color: var(--feature-color);
        font-family: 'Times New Roman', serif;
        font-weight: 500;
    }
    &::first-letter {
        font-size: 45px;
        font-weight: 600;
        color: var(--secondary-text-color);
        font-family: cursive;
        float: left;
        margin-top: -20px;
        padding-right: 3px;
        margin-bottom: -20px;
    }
}
.mypen {
    position: absolute;
    color: var(--feature-color);
    font-size: 20px;
    left: -10px;
    top: -4px;
    display: inline-block; /* Ensures the icon behaves like an inline element */
    transform: scaleX(-1); /* Flips the icon horizontally */
}
/* ===== xxxxx ===== */

/* Contact Me */
.mycontact {
    width: 75%;
    margin: 10px auto;
    box-shadow: 1px 0px 2px var(--box-shadow-color);
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
}

.mycontact a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding-left: 10px;
    &:hover {
        color: var(--tertiary-color);
    }
}

.contact-info {
    background-color: rgba(216, 214, 211, 0.482);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* font-size: 12px; */
}

.email {
    color: var(--tertiary-color);
    padding: 7px;
    &:before {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(140, 139, 137, 0.482);
    padding: 3px 12px 3px 5px;
    margin-left: -16px;
    padding: 6.5px;
    }
}

.address {
    color: var(--tertiary-color);
    padding: 7px;
    &:before {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(140, 139, 137, 0.482);
    padding: 3px 12px 3px 5px;
    margin-left: -16px;
    padding: 6.5px;
    }
}

.telephone {
    color: var(--tertiary-color);
    padding: 7px;
    &:before {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(140, 139, 137, 0.482);
    padding: 3px 12px 3px 5px;
    margin-left: -16px;
    padding: 6.5px;
    }
}

.github {
    color: var(--tertiary-color);
    padding: 7px;
    &:before {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(140, 139, 137, 0.482);
    padding: 3px 12px 3px 5px;
    margin-left: -16px;
    padding: 6.5px;
    }
}
/* ===== xxxxx ===== */

/* Footer */
footer {
    box-shadow: 0px 2px 4px var(--box-shadow-color);
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
footer p {
    color: var(--primary-text-color);
}
footer p span {
    color: var(--feature-color);
}