.bullets {
    padding: 10px;
background-color: antiquewhite;
}
.bullets ul li{
    padding: 10px;
    margin: 10px;
}
/* Add styles for the red class */
 .red {
    background-color: red;
    padding: 10px;
    color: white;
}
/* Button styling */
button {
    padding: 10px;
    margin: 25px;
    font-size: 16px;
}

.large-font{
    font-size: 1.2rem;
    background-color: beige;
    color: orange;
}